# Auto detect text files and perform LF normalization on checkout
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized and converted to native line endings on checkout.
*.ts text eol=lf
*.js text eol=lf
*.vue text eol=lf
*.json text eol=lf
*.py text eol=lf
*.md text eol=lf
*.html text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

# Denote all binary files that should not be modified by Git
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
*.exe binary
*.dmg binary
*.db binary
*.sqlite3 binary
